.fa-grip-lines {
    cursor: move;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

#removeRow {
    color: darkred;
}

#removeRow:hover {
    color: red;
    cursor: pointer;
}

#replacementRemoveRow {
    color: darkred;
    line-height: 40px;
    height: 34px;
    display: flex;
    align-items: center;
}

#replacementRemoveRow:hover {
    color: red;
    cursor: pointer;
}

#replacementRemoveRow.removeRowDisabled {
    color: #777;
    cursor: not-allowed;
}

.addRow {
    color: dimgray;
}

.addRow:hover {
    color: green;
    cursor: pointer;
}

.replacementAddRow {
    color: dimgray;
}

.replacementAddRow:hover {
    color: green;
    cursor: pointer;
}

.optionRow {
    color: dimgray;
}
.optionRow:hover {
    color: gray;
    cursor: pointer;
}
#openRowOptions:hover {
    cursor: pointer;
}

req {
    color: red;
}

.checkbox-inline {
    padding-left: 50px;
    padding-right: 50px;
}

.modal {
    text-align: center;
    padding: 0!important;
}
  
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.radio-inline {
    padding-left: 30px;
    padding-right: 60px;
}

.form-check-label {
    font-size: 11px;
    padding-top: 3px;
}

th {
    font-size: 14px;
}